<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= video_screenwriter.screenwriter.screenwriter_fio  %></div>
        <%= button_to "×", video_video_screenwriter_path(@video.id, video_screenwriter.id), method: :delete, class: "delete-span" %>
    </div>
</span>
