<% if @video.video_screenwriters.present? %>
    <div class="card">
        <div class="card-header">
            Сценаристы
        </div>
        <div class="card-body">
            <h4>
                <% @video.video_screenwriters.each do |video_screenwriter| %>
                    <% if current_user&.admin? %>
                        <%= render partial: 'video_screenwriters/admin_index', locals: { video_screenwriter: video_screenwriter } %>
                    <% else %>
                        <%= render partial: 'video_screenwriters/user_index', locals: { video_screenwriter: video_screenwriter } %>
                    <% end %>
                <% end %>
            </h4>
        </div>
    </div>
<% end %>
