<%= form_for [@video, @mark] do |f| %>
  <!-- Your form fields for the review -->
  <div class="field">
    <%= f.check_box :digit, {}, 1, "nil" %> AB <br><br>
  </div>
  <%= f.submit 'Опубликовать', class: "btn btn-primary" %>
  <br><br>
<% end %>
