<h1>Отчет по активности пользователей</h1>
<table class="user-report-table report">
  <tr>
    <th>Пользователь</th>
    <th>Время прибывания <br>в веб-приложении</th>
  </tr>
  <% @user_sessions.reverse.each do |user_id, data| %>
    <tr>
      <td><%= User.find(user_id).email %></td>
      <td><%= time_format(data[:total_time].round(2)) %></td>
    </tr>
  <% end %>
</table>
