<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= video_language.language.language_name %></div>
        <%= button_to "×", video_video_language_path(@video.id, video_language.id), method: :delete, class: "delete-span" %>
    </div>
</span>
