<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= film_genre.genre.genre_name  %></div>
        <%= button_to "×", film_film_genre_path(@film.id, film_genre.id), method: :delete, class: "delete-span" %>
    </div>
</span>
