.btn-close {
    margin-left: 93%;
}

.form-button {
    width: 100%;
}

.list-button {
    width: 70%
}

.form-check-input {
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

.devise-butt {
    padding-right: 1% !important;
}

.table-button {
    vertical-align: top;
}

.btn {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .075)!important;
}

.btn-sm {
    margin-left: 10px;
}

.delete-span {
    background-color: transparent;
    color: white;
    border-color: white !important;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 2px;
    height: 21px;
    width: 22px;
    padding: 0;
    padding-bottom: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.admin-span {
    padding-right: 4px !important;
    vertical-align: text-top !important;
    font-size: 15px !important;
    line-height: 0.05 !important;
}

.delete-span:hover {
    background-color: white;
    color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
}

.delete-span:active {
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
    color: white;
}

.badge {
    margin-bottom: 5px;
}

.container-line {
    display: flex;
}

.badge-text {
    margin-top: 10px;
    margin-right: 3px;
}

.dropdown-toggle {
    margin-left: 0;
}

.btn-outline-secondary:after {
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
    color: white;
}

.dropdown-toggle {
    font-size: 14.5px;
}

.modal-btn {
    position: relative;
    margin-top: 15px;
    left: 2%
}

.bookmark-form {
    display: inline-block;
  }

.bookmark-label {
display: inline-block;
cursor: pointer;
}

.bookmark-checkbox {
display: none;
}

.bookmark-button {
padding: 10px 20px;
background-color: #3498db;
color: #fff;
border-radius: 5px;
}

.bookmark-checkbox:checked + .bookmark-button {
background-color: #2980b9;
}

.bookmark-button:hover {
background-color: #2980b9;
}

.btn-favorites {
    width: 130px;
}

.table-btn {
    margin-left: 5px;
}

.btn-rating {
    margin-top: 9px;
}

.page-link {
    color: #6c757d;
}

.page-link.active, .active > .page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #6c757d;
    border-color: #6c757d;
}

.page-link:hover{
    color: #6c757d;
}

.search{
    height: 37.5px !important;
    margin-right: 10% !important;
}
