.btn-close {
    margin-left: 93%;
}

.form-button {
    width: 100%;
}

.list-button {
    width: 70%
}

.form-check-input {
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

.devise-butt {
    padding-right: 1% !important;
}

.table-button {
    text-align: right;
    vertical-align: top;
    width: 8%;
}

.btn {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .075)!important;
}

.btn-sm {
    margin-left: 10px;
}
