.footer {
    top: 90% !important;
    bottom: 0 !important;
    width: 100% !important;
    max-height: 100px !important;
    background: #015ce4;
}

.header {
    position: fixed !important;
    width: 100% !important;
    top: 0% !important;
    z-index: 1 !important;
    padding-top: 15px;
}

.secondary {
    position: fixed !important;
    left: 26%;
    top: 10% !important;
    max-width: 700px;
    margin-top: 10% !important;
}

.mp-4 {
    width: 30% !important;
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    border-radius: 16px;
    margin-top: 3%;
    padding: 2%;
}

.block-link {
    min-width: 300px;
    height: 7.5% !important;
    position: fixed;
    margin: auto;
    border-radius: var(--bs-alert-border-radius);
}

.block-link:hover {
    border: 1px solid #015ce4;
    background-color: #b6d2fc;
}

.img {
    margin-right: 10px;
}

.id {
    width: 30px;
}

.footer {
    background-color: white !important;
    min-height: 50px;
}

table {
    width: 100% !important;
    background-color: transparent !important;
    ;
}

.container-fluid {
    min-height: 530px !important;
}

.table-pic {
    width: 0%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .075)!important;
}

.table-text {
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: top;
    width:100%;
}

.card {
    margin-bottom: 10px;
    box-shadow: var(--bs-box-shadow) !important;
}

.card-video:hover {
    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, .175)!important;
}

.form {
    width: 50%;
    margin-left: 25% !important;
    margin-right: 20% !important;
    background-color: transparent !important;
}

.form-control {
    margin-bottom: 10px;
}

.border {
    box-shadow: var(--bs-box-shadow) !important;
}

.navbar {
    box-shadow: var(--bs-box-shadow) !important;
}

.show-video {
    width: 60%;
    padding-right: 10px;
}

.show-info-video {
    width: 38.5%;
    margin-left: 10px;
}

.show-recensions {
    float: bottom;
    height: 10% !important;
    margin-top: 10px;
}

.container-video {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    /* or inline-flex */
}

.container {
    display: flex;
    flex-direction: column;
    /* or inline-flex */
}

.video {
    display: block;
    margin-top: 10px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)!important;
}

.form-control {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .075)!important;
}

.form-shadow {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .075)!important;
}

.container-review {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-content {
    width: 100%;
}

.modal-pose {
    padding: 5px;
}

.container-assotiation {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.input-modal {
    width: 100% !important;
}

.div-modal {
    width: 100% !important;
}

.text--dark {
    color: black !important;
}

.bg-light {
    background-color: #eee3e3 !important;
}

.stars {
    color: #c5c5c5;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .stars .span {
    width: 1.1em;
  }
  .stars span {
    display: inline-block;
    height: 25px;
    justify-content: flex-end;
  }
  .stars .span:before {
    content: "\2605";
    position: absolute;
  }
  .full-star:before {
    content: "\2605";
    color: #ffcf00; /* Цвет активной звезды */
  }
.rating {
    color: #c5c5c5;
    font-size: 24px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

select {
    @extend .form-control;
}

option {
    @extend .form-control;
}

#mark_digit {
    @extend .form-control;
}

.pag{
    margin-left: 5px !important;
    height: 37.8px !important;
}

.d-flex {
    height: 37.8px !important
}

.filter-container {
    display: flex;
    justify-content: flex-start;
    div {
        margin-right: 5px;
    }
}

.user-report-table {
    width: 50% !important;
}

.report {
    border: 1px solid;
    border-collapse: collapse;
    th,tr,td{
        border: 1px solid;
        border-collapse: collapse;
    }
}

.container-users{
    display: flex;
    justify-content: flex-start;
    div {
        margin-right: 10px;
    }
}

.container-watched {
    display: flex;
    justify-content: space-between;
}

.container-video-report {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    .video-report {
        margin-right: 5px;
    }
}

.popularity-table {
    border: 1px solid;
    border-collapse: collapse;
    th,tr,td{
        border: 1px solid;
        border-collapse: collapse;
    }
}

.popularity-container{
    display: flex;
    justify-content: flex-start;
}

.search-form {
    width: 50%;
}

.popularity-report {
    height: 100% !important;
}

.justify-content-evenly {
    height: 100%;
}

.pop-card {
    width: 100%;
}
