<% if @film.film_speakers.present? %>
    <div class="card">
        <div class="card-header">
            Спикер
        </div>
        <div class="card-body">
            <h4>
                <% @film.film_speakers.each do |film_speaker| %>
                    <% if current_user&.admin? %>
                        <%= render partial: 'film_screenwriters/admin_index', locals: { film_speaker: film_speaker } %>
                    <% else %>
                        <%= render partial: 'film_screenwriters/user_index', locals: { film_speaker: film_speaker } %>
                    <% end %>
                <% end %>
            </h4>
        </div>
    </div>
<% end %>
