<% if current_user&.admin? %>
  <div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><b>Добавить новые характеристики</b></button>
    <ul class="dropdown-menu">
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-language-modal'>язык</button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-tag-modal'>тэг</button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-speaker-modal'>спикер</button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-category-modal'>категория</button>
      </li>
    </ul>
  </div>
  <br>
<% end %>

<%= render partial: 'modal_new', locals: { target_id: 'new-language-modal', article: :languages } %>
<%= render partial: 'modal_new', locals: { target_id: 'new-tag-modal', article: :tags } %>
<%= render partial: 'modal_new', locals: { target_id: 'new-speaker-modal', article: :speakers } %>
<%= render partial: 'modal_new', locals: { target_id: 'new-category-modal', article: :categories } %>
