<% if current_user&.admin? %>
  <div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><b>Назначить характеристики</b></button>
    <ul class="dropdown-menu">
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-view-language-modal'>язык</button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-view-tag-modal'>тэг</button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-view-speaker-modal'>спикера</button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-view-category-modal'>категорию</button>
      </li>
    </ul>
  </div>
  <br>
<% end %>

<%= render partial: 'modal', locals: { target_id: 'new-view-language-modal', assotiation: :video_languages, video: @video } %>
<%= render partial: 'modal', locals: { target_id: 'new-view-tag-modal', assotiation: :video_tags, video: @video } %>
<%= render partial: 'modal', locals: { target_id: 'new-view-speaker-modal', assotiation: :video_speakers, video: @video } %>
<%= render partial: 'modal', locals: { target_id: 'new-view-category-modal', assotiation: :video_categories, video: @video } %>
