<div class="modal fade" id="<%= target_id %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= render template: "#{assotiation}/new", method: :new, locals: { video: @video} %>
  </div>
</div>
