<div class="border rounded form mx-4">
  <div class="container mb-4">
    <br>
    <h1>Изменение</h1><br>
    <%= render partial: 'videos/form', locals: { video: @video, button: 'Изменить'} %>
  </div>
</div>
