<div class="border rounded form mx-4">
    <div class="container mb-4">
      <br>
      <h1>Добавление</h1><br>
      <%= render partial: 'videos/form', locals: { video: @video, button: 'Добавить'} %>
    </div>
  </div>
