<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= video_director.director.director_fio %></div>
        <%= button_to "×", video_video_director_path(@video.id, video_director.id), method: :delete, class: "delete-span" %>
    </div>
</span>
