<% if @video.video_directors.present? %>
    <div class="card">
        <div class="card-header">
            Режиссеры
        </div>
        <div class="card-body">
            <h4>
                <% @video.video_directors.each do |video_director| %>
                    <% if current_user&.admin? %>
                        <%= render partial: 'video_directors/admin_index', locals: { video_director: video_director } %>
                    <% else %>
                        <%= render partial: 'video_directors/user_index', locals: { video_director: video_director } %>
                    <% end %>
                <% end %>
            </h4>
        </div>
    </div>
<% end %>
