<div class="border rounded form">
    <div class="container mb-4">
      <br>
      <h1>Добавление</h1><br>
      <%= render partial: 'films/form', locals: { film: @film, button: 'Добавить'} %>
    </div>
  </div>
