<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= video_country.country.country_name %></div>
        <%= button_to "×", video_video_country_path(@video.id, video_country.id), method: :delete, class: "delete-span" %>
    </div>
</span>
