<% if @video.video_countries.present? %>
    <div class="card">
        <div class="card-header">
            Страны
        </div>
        <div class="card-body">
            <h4>
                <% @video.video_countries.each do |video_country| %>
                    <% if current_user&.admin? %>
                        <%= render partial: 'video_countries/admin_index', locals: { video_country: video_country } %>
                    <% else %>
                        <%= render partial: 'video_countries/user_index', locals: { video_country: video_country } %>
                    <% end %>
                <% end %>
            </h4>
        </div>
    </div>
<% end %>
