<%= form_for [@video, VideoCountry.new], method: :new do |form| %>
  <div class="modal-content modal-pose container-assotiation">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      <h5>
        <div class="container-assotiation">
          <% Country.all.each do |country| %>
            <%= hidden_field_tag :country,  value: country %>
            <%= form.submit country.country_name, class: "btn btn-sm btn-outline-secondary" %>
          <% end %>
      <%= form.submit "Готово", class: 'btn btn-primary' %>
        </div>
      </h5>
  </div>
<% end %>
