<%= form_with model: @tag, method: :new do |form| %>
  <div class="modal-content modal-pose container-assotiation">
    <h4>Добавить язык</h4><br>
        <%= form.text_field :tag_name, class: "form-control", placeholder: 'Название' %>
      <%= form.submit "Добавить", class: 'btn btn-primary input-modal' %><br>
      <button type="button" class="btn-close modal-btn" aria-label="Close" data-bs-dismiss="modal"></button>
  </div>
<% end %>

