<% if @video.video_speakers.present? %>
    <div class="card">
        <div class="card-header">
            Спикеры
        </div>
        <div class="card-body">
            <h4>
                <% @video.video_speakers.each do |video_speaker| %>
                    <% if current_user&.admin? %>
                        <%= render partial: 'video_speakers/admin_index', locals: { video_speaker: video_speaker } %>
                    <% else %>
                        <%= render partial: 'video_speakers/user_index', locals: { video_speaker: video_speaker } %>
                    <% end %>
                <% end %>
            </h4>
        </div>
    </div>
<% end %>
