<%= form_for [@video, VideoGenre.new] do |form| %>
  <div class="modal-content modal-pose">
      <%= form.submit "Готово", class: 'btn btn-primary' %>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      <h5>
        <div class="container-assotiation">
            <% Genre.all.each do |genre| %>
              <%= link_to genre.genre_name, "/", class: "btn btn-sm btn-outline-secondary" %>
            <% end %>
        </div>
      </h5>
  </div>
<% end %>
