<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= video_category.category.category_name %></div>
        <%= button_to "×", video_video_category_path(@video.id, video_category.id), method: :delete, class: "delete-span" %>
    </div>
</span>
