<%= form_for [@video, VideoCategory.new], method: :new do |form| %>
  <div class="modal-content modal-pose container-assotiation">
    <h4>Добавить категорию</h4><br>
    <%= form.collection_select :category_id, Category.all, :id,:category_name,
                              {  include_blank: "Выберите категорию", isabled: "" },
                              { class: "form-control input-modal"} %>
    <%= form.submit "Добавить", class: 'btn btn-primary input-modal' %><br>
    <button type="button" class="btn-close modal-btn" aria-label="Close" data-bs-dismiss="modal"></button>
  </div>
<% end %>
