<%= form_for [@film, FilmDirector.new] do |form| %>
  <div class="modal-content modal-pose">
      <%= form.submit "Готово", class: 'btn btn-primary' %>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      <h5>
        <div class="container-assotiation">
            <% Director.all.each do |director| %>
            <%= link_to director.director_fio, "/", class: "btn btn-sm btn-outline-secondary" %>
        <% end %>
        </div>
      </h5>
  </div>
<% end %>
