<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= video_tag.tag.tag_name  %></div>
        <%= button_to "×", video_video_tag_path(@video.id, video_tag.id), method: :delete, class: "delete-span" %>
    </div>
</span>
