<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= film_screenwriter.screenwriter.screenwriter_fio  %></div>
        <%= button_to "×", film_film_screenwriter_path(@film.id, film_screenwriter.id), method: :delete, class: "delete-span" %>
    </div>
</span>
