<span class="badge bg-secondary admin-span">
    <div class="container-line">
        <div class="badge-text"><%= film_country.country.country_name %></div>
        <%= button_to "×", film_film_country_path(@film.id, film_country.id), method: :delete, class: "delete-span" %>
    </div>
</span>
